* {
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
#run {
  width: 200px;
  padding: 10px 15px;
  border: none;
  background-color: purple;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#run:hover {
  background-color: white;
  color: red;
}
#search{
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    

}
.output {
  background-color: white;
  width: 300px;
  padding: 5px;
  display: flex;
}
.contenet {
  max-width: 600px;
  background-color: white;
  height: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.contenet h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.contenet h3{
    margin-top: 10px;
}
.paragraphs p {
  margin: 10px 0;
}

code {
  display: block;
  background-color: #f3f3f3;
  padding: 10px;
  font-family: Consolas, monospace;
  font-size: 14px;
}
